<div class="row">

    <div class="card margin-bottom-15" *ngFor="let post of posts">
        <div class="row" style='margin-left: 1px'>
            <div class="col-md-1 like-box">
                <div class="action">
                    <a href="#" class="action-btn" (click)="upVode($event)"><i class="fa fa-angle-up"></i></a>
                    <small>100</small>
                    <a href="#" class="action-btn" (click)="downVote($event)"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <h4>{{post.title | slice:0:60}}</h4>
                    <p>{{post.body}}</p>
                    <div>
                        <span class="badge">Posted {{ today | date :'medium'}}</span>
                        <div class="pull-right">
                            <span class="badge badge-primary">story</span> 
                            <span class="badge badge-success">blog</span> 
                            <span class="badge badge-info">personal</span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>