/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgb(218, 224, 230) !important;
    font-family: IBMPlexSans, Helvetica Neue, Segoe UI, Helvetica, Verdana, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.margin-top-10 {
    margin-top: 1rem !important;
}

.card {
    width: 100%;
}